<!DOCTYPE HTML>
{% load staticfiles %}

<html lang="en-US">
<head>

    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'assets/fonts/font-awesome.css' %}" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{%  static 'assets/bootstrap/css/bootstrap.css' %}" type="text/css">
    <link rel="stylesheet"  href="{% static 'assets/css/bootstrap-select.min.css' %}" type="text/css">
    <link rel="stylesheet"  href="{% static 'assets/css/owl.carousel.css' %}" type="text/css">
    <link rel="stylesheet"  href="{% static 'assets/css/jquery.mCustomScrollbar.css' %}" type="text/css">
    <link rel="stylesheet"  href="{% static 'assets/css/style.css' %}" type="text/css">
    <link rel="stylesheet"  href="{% static 'assets/css/user.style.css' %}" type="text/css">
    <title>Durob Locator | MAP</title>

</head>

<body onunload="" class="map-fullscreen page-homepage navigation-off-canvas" id="page-top">

<!-- Outer Wrapper-->
<div id="outer-wrapper">
    <!-- Inner Wrapper -->
    <div id="inner-wrapper">

        <!-- Navigation-->
        <div class="header">
            <div class="wrapper">
                <div class="brand">
                    <a href="#"><img src="/static/assets/img/logopsd.png" alt="logo"></a>
                </div>
                <nav class="navigation-items">
                    <div class="wrapper">
                        <ul class="main-navigation navigation-top-header"></ul>
                        <ul class="user-area">
                            <li><a href="http://durob.pythonanywhere.com">Reload</a></li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
        <!-- end Navigation-->


        <!-- Page Canvas-->
        <div id="page-canvas">

            <!--Page Content-->
            <div id="page-content">
            <!-- Map Canvas-->
            <div class="map-canvas list-width-10">
                <!-- Map -->
                <div class="map">
                    <!--/.toggle-navigation-->
                    <div id="map" class="has-parallax"></div>
                    <!--/#map-->

                    <div class="search-bar horizontal">
                          <form class="main-search border-less-inputs" id="searchForm">
                            <div class="input-row">
                                <div class="form-group">
                                  <select name="distance" id="distance" width="100">
                                      <option value="0">All</option>
                                      {% for drv in objDriver %}
                                            <option value="{{ forloop.counter }}">{{drv.driver_name}}</option>
                                      {% endfor %}

                                  </select>
                                </div>
                                <!-- /.form-group -->
                                <div class="form-group">
                                  <select name="days" id="days">
                                      <option value="0">Now</option>
                                      <option value="1">1 Day Back</option>
                                      <option value="2">2 Days Back</option>
                                      <option value="3">3 Days Back</option>
                                  </select>
                                </div>
                                <!-- /.form-group -->
                                <div class="form-group">
                                  <select name="time" id="time">
                                      <option value="0">Now</option>
                                      <option value="1">00</option>
                                      <option value="2">01</option>
                                      <option value="3">02</option>
                                      <option value="4">03</option>
                                      <option value="5">04</option>
                                      <option value="6">05</option>
                                      <option value="7">06</option>
                                      <option value="8">07</option>
                                      <option value="9">08</option>
                                      <option value="10">09</option>
                                      <option value="11">10</option>
                                      <option value="12">11</option>
                                      <option value="13">12</option>
                                      <option value="14">13</option>
                                      <option value="15">14</option>
                                      <option value="16">15</option>
                                      <option value="17">16</option>
                                      <option value="18">17</option>
                                      <option value="19">18</option>
                                      <option value="20">19</option>
                                      <option value="21">20</option>
                                      <option value="22">21</option>
                                      <option value="23">22</option>
                                      <option value="24">23</option>
                                  </select>
                                </div>
                                <!-- /.form-group -->
                                <div class="form-group">
                                    <button onclick="myFunction()" class="btn btn-default"><i class="fa fa-refresh"></i></button>
                                </div>
                                <!-- /.form-group -->
                            </div>
                            <!-- /.input-row -->
                        </form>
                        <!-- /.main-search -->
                    </div>
                    <!-- /.search-bar -->
                </div>
                <!-- end Map -->


            </div>
            <!-- end Page Content-->
        </div>
        <!-- end Page Canvas-->

    </div>
    <!-- end Inner Wrapper -->
</div>
<!-- end Outer Wrapper-->

<script type="text/javascript" src="{% static 'assets/js/jquery-2.1.0.min.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/before.load.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/jquery-migrate-1.2.1.min.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/bootstrap/js/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/smoothscroll.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/bootstrap-select.min.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/jquery.hotkeys.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/icheck.min.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/jquery.nouislider.all.min.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/jquery.mCustomScrollbar.concat.min.js' %}"></script>
<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyCqIOMD67OFxE2FNLo7TcPfTQDPhvnZ2l8&sensor=false&amp;libraries=places"></script>
<script type="text/javascript" src="{% static 'assets/js/infobox.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/richmarker-compiled.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/custom.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/maps.js' %}"></script>

<!--[if lte IE 9]>
<script type="text/javascript" src="assets/js/ie-scripts.js"></script>
<![endif]-->

<script>

  function loadMap(){
      $('.map-canvas').toggleClass('results-collapsed');
      $.get( "/json", function( data1 ) {
          createHomepageGoogleMap(data1);
      });

    }

    function myFunction(){
        event.preventDefault();

        var val="0";
        var val2="0"
        var text=$("#time :selected").text();
        var text2=$("#days :selected").text();


        if(text=="Now")
             val="0";
             else {
               val=text;
             }

        if(text2=="1 Day Back")
              val2="1";

        if(text2=="2 Days Back")
              val2="2";

        if(text2=="3 Days Back")
              val2="3";

        $.get( "/jsondayhour/"+val2+"/"+val, function( data1 ) {
            createHomepageGoogleMap(data1);
        });

      }

    $(window).load(function(){
        var rtl = false; // Use RTL
        initializeOwl(rtl);
    });

    loadMap();

</script>

<!--[if lte IE 9]>
<script type="text/javascript" src="assets/js/ie-scripts.js"></script>
<![endif]-->
</body>
</html>
